<section>
	<article>
		<header>Welcome to Bloody CMS</header>
		<p>You are almost there. We just need some last bits of information to get you started.</p>
		
	
		<form action="/" method="post" accept-charset="utf-8" id='installer_form'>
				<hr/>
			  <header>Generic</header>
				<div class="field">
			   <input type='text' name='site_title' value='' placeholder='Site title (e.g. My cool site) '>
			  </div>
			  <div class="controls">
					<input type="submit" value="Save" class='button medium green'>
			  </div>
		</form>
	</article>
</section>