<% page ||= @page %>

<div class='controls'>	
	<%= link_to '&larr;	Back'.html_safe, root_url, :class => 'button white medium left' %>
	<%= link_to 'Edit', edit_page_path(page), :class => 'button orange medium' %>
</div>