<% body_classes << 'pages' %>
<% content_for :title do %>
	<%= "#{@page.title} | " unless root? %>
<% end %>

<section>
	<%= render :partial => @page, :locals => {:show_nav => true, :highlight_unpublished => false} %>

	<%= render :partial => 'posts/recent' if Settings.get("blog:enabled?") && Settings.get("blog:show_recent?") && root?  %>
</section>
