title: "Bloody CMS"
header: "header.png"


sidebar:
  blocks:
    example_block1: ''


home:
  enabled: true
  in_nav: true
  title: "home"

blog:
  enabled: true         #toggles wether this feature is enabled
  in_nav: true          #toggles wether this feature is shown in the sidebar
  title: "blog"         #the title for the sidebar
  path: "blog"          #the path used in the url (e.g. http://example.com/your_path/post_name)

pages:
  enabled: true         #toggles wether this feature is enabled
  in_nav: true          #toggles wether this feature is shown in the sidebar
  # root_page: "home"    #the root page to show instead of the blog
  
twitter:
  consumer_key: ''
  onsumer_secret: ''