<nav>
	<ul>
  	<li><%= link_to 'Edit', edit_post_path(post) %></li>
  	<li><%= link_to 'Delete', post, confirm: 'Are you sure?', method: :delete %></li>
		<li><%= link_to 'Back', posts_path %></li>
	</ul>
</nav>