<%# body_classes << 'other_class_name' %>

<section>
	<header>Blog posts</header>

	<%= render :partial => @posts, :locals => {:show_nav => false} %>

	<%= link_to 'New Post', new_post_path if admin? %>
</section>
