//
// Do not change this file. Instead create a new file that overwrites this one
//
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&v2);

body {
	font-family: "Lato", sans-serif;
	line-height: 1.47em;
}

a {
	color: #a00;
	
	&:hover {
		opacity: 0.8;
	}
}

div#notice {
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
	padding: 10px 0px 10px 0px;
	font-size: 1.47em;
	line-height: 1.47em;
	overflow: auto;
	
	&.warning {
		background-color: #fef6be;
	}
	
	span {
		width: 600px;
		display: block;
		margin: 0 auto;
	}
}

header {
	background-color: #fafafa;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

header img {
	display: block;
	margin: 0px auto;
}

#controls {
	background-color: #f2f2f2;
	border-bottom: 1px solid #ddd;
	padding: 5px 0px 5px 0px;
	overflow: auto;
	font-size: 12px;
	color: #444;
	
	img {
		margin-top: 5px;
	}
	
	ul {
		width: 600px;
		margin: 0 auto;
		display: block;
		
		li {
			float: right;
		}
	}
}

#ui-datepicker-div {
	font-size: 0.8em;
}


footer {
	background-color: #fafafa;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	clear: both;
	font-size: 0.8em;
	padding: 3px 0px;
	width: 600px;
	display: block;
	margin: 0px auto 40px auto;
	
	p {
		display: inline;
	}
}

aside {
	width: 200px;
	position: relative;
	left: 50%;
	margin-left: -530px;
	text-align: right;
	float: left;
	margin-top: 25px;
	border-top: 1px solid #ddd;
	
	
	hr {
		margin: 0px;
		padding: 0px;
	}
	
	a {
		font-weight: bold;
		left: 0px;
		margin-left: 0px;
		text-decoration: none;
		display: block;
		border-bottom: 1px solid #ddd;
		padding: 10px 0px;
		font-size: 2.0em;
		line-height: 1em;
		font-size: 15px;
		color: #000;
		
	
		&.active {
			background-color: #fafafa;
			color: #a00;
		}
		
		&.rss {
			background-image: url('/assets/icons/16x16/rss.png');
			background-repeat: no-repeat;
			background-position: center right;
			padding-right: 20px;
		}
		
		span {
			font-size: 11px;
			color: #888;
		}
	}
}


@media all and (max-width: 999px) {

	aside {
		width: 600px;
		position: static;
		margin: 0px auto;
		margin-top: 20px;
		float: none;
		background-color: #fafafa;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		text-align: left;
		border-right: 1px solid #ddd;
		
		hr {
			display: none;
		}
		
		a {
			margin-right: 10px;
			font-weight: bold;
			border-bottom: 0px;
			display: inline-block;
			padding: 6px 0px;
			font-size: 1.0em;
			line-height: 1em;
			border-left: 1px solid #ddd;
			padding-left: 15px;

		
			&.active { 
				color: #000;	
				background-color: transparent;
				border-bottom: 0px;
			}
		
		}
	}
}

table {
	width: 100%;
	font-size: 15px;
	margin-top: 4px;
	
	th, td {
		font-weight: bold;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		text-align: left;
		padding: 6px;
	}
	
	th {
		background-color: #eee;
	}
}

body.posts, body.pages, body.options, body.events {
	section {
		width: 600px;
		padding: 20px 10px;
		margin: 0 auto;
		
		header {
			margin-top: 9px;
			background-color: inherit;
			font-weight: bold;
			font-size: 40px;
			border-bottom: 0px;
			margin-bottom: 40px;
			padding: 0px;
			
			a.light {
				font-weight: normal;
				font-size: 30px;
				color: #888;
				text-decoration: none;
			}
		}
		
		.controls {
			margin-top: 20px;
			text-align: right;
			margin-top: 4px;
			
			.button.left { float: left;	}
		}
		
		.pagination {
			background-color: #fafafa;
			border-bottom: 1px solid #ddd;
			border-top: 1px solid #ddd;
			padding: 5px;
			text-align: center;
			
			.prev_page {
				float: left;
			}
			
			.next_page {
				float: right;
			}
		}
		
		#error_explanation {
			margin-bottom: 10px;
			
			h2 {
				font-weight: bold;
			}
			
			ul {
				color: #a00;
				list-style: disc inside;
			}
		}
		
		form#new_post, form.edit_post, form#new_page, form.edit_page, form#options_form, form#new_event, form.edit_event {
			
			header {
				margin: 10px 0px;
				font-size: 1.6em;
			}
			
			label {
				font-size: 1.1em;
				display: block;
				font-weight: bold;
				margin: 20px 0px 5px 0px;
				
				&.inline {
					display: inline;
					font-size: 1em;
					font-weight: normal;
				}
				
				span {
					font-size: 0.8em;
					color: #a00;
				}
			}
			
			input[type=text], input[type=password] {
				color: #222;
				background-color: #fafafa;
				padding: 5px 5px;
				width: 590px;
				font-size: 1.2em;
				border: 1px solid #aaa;
				
				&.error {
					border: 1px solid #a00;	
				}
				
				&.datepicker {
					width: 200px;
				}
			}
			
			textarea {
				color: #222;
				background-color: #fafafa;
				padding: 5px 5px;
				width: 590px;
				height: 300px;
				font-family: Courier, sans-serif;
				font-size: 0.8em;
				border: 1px solid #aaa;
				
				&.low {
					height: 150px;
				}
			}
			
			.field img {
				position: relative;
				top: 8px;
				margin-left: 5px;
				
				&:hover {
					cursor: pointer
				}
			}
			


			.field_with_errors input, .field_with_errors textarea {
				border: 1px solid #a00;
			}
			
			.info { font-size: 0.8em; margin: 0px 0px 5px 0px;}
			.error { font-size: 0.8em; margin-bottom: 5px; color: #a00;}
		}
		
		article {
			padding: 0px 0px 20px 0px;
			margin: 0px 0px 20px 0px;
			border-bottom: 1px solid #aaa;
			
			&.unpublished {
				background-color: #fafafa;
				
				header { margin-top: 10px }
				div, header, time {	padding: 0px 5px; }
			}
			
			&.small {
				padding: 0px 0px 0px 0px;
				border-bottom: none;
			}
			
			.warning {
				background-color: #ccc;
				color: #666;
				display: block;
				padding: 5px;
				
				.button {
					float: right;
				}
			}
			
			header {
				position: relative;
				top: -5px;
				font-size: 30px;
				line-height: 35px;
				margin-top: 3px;
				margin-bottom: 5px;
				
				a {
					text-decoration: none;
				}
			}
			
			img.avatar {
				float: left;
				margin-right: 10px
			}

			
			time {
				margin-bottom: 10px;
				font-size: 12px;
				display: block;
				position: relative;
				top: -12px;
			}
			
			h1 {
				font-weight: bold;
				font-size: 1.6em;
				margin-bottom: 10px;
			}
			
			h2 {
				font-weight: bold;
				font-size: 1.1em;
				margin-bottom: 5px;
			}
			
		
			
			div {
				margin-bottom: 20px;				
				
				em { font-style: italic; }
				strong { font-weight: bold;	}
				p {margin-bottom: 20px;}
				
				ul {
					list-style: disc outside;
					margin-left: 20px;
					margin-bottom: 20px;
					
					li {
						margin-bottom: 5px;
					}
				}
				
				ol {
					list-style: decimal outside;
					margin-left: 20px;
					margin-bottom: 20px;
					
					li {
						margin-bottom: 5px;
					}
				}
				
				img {
					margin: 0px auto;
					display: block;
				}
				
				.highlight {
					background-color: #f5f5f5;
					padding: 10px;
					border: 1px solid #d2d2d2;
				}
				
				&.block {
					overflow: auto;
				}
				
				&.calendar {
					float: left;
					background-image: url('/assets/icons/48x48/calendar_background.png');
					width: 48px;
					height: 48px;
					margin-bottom: 0px;
					margin-right: 10px;
					text-align: center;
					color: #a00;
					font-size: 12px;
					line-height: 12px;
					font-weight: bold;
					
					
					strong {
						color: #000;
						display: block;
						font-size: 18px;
						line-height: 14px;
						margin-top: 19px;
						margin-bottom: 0px;
					}
				}
			}
			
		}
	}
}