//
// Do not change this file. Instead create a new file that overwrites this one
//

body {
	font-family: Georgia,"Times New Roman", Times, serif;
	line-height: 1.47em;
}

a {
	color: #a00;
	
	&:hover {
		opacity: 0.8;
	}
}

div#notice {
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
	padding: 10px 0px 10px 0px;
	font-size: 1.47em;
	line-height: 1.47em;
	overflow: auto;
	
	&.warning {
		background-color: #fef6be;
	}
	
	span {
		width: 600px;
		display: block;
		margin: 0 auto;
	}
}

header {
	background-color: #fafafa;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

header img {
	display: block;
	margin: 0px auto;
}

#controls {
	background-color: #f2f2f2;
	border-bottom: 1px solid #ddd;
	padding: 5px 0px 5px 0px;
	overflow: auto;
	
	img {
		margin-top: 5px;
	}
	
	ul {
		width: 600px;
		margin: 0 auto;
		display: block;
		
		li {
			float: right;
		}
	}
}

@media all and (min-width: 800px) {

	aside {
		width: 200px;
		position: relative;
		left: 50%;
		margin-left: -530px;
		text-align: right;
		float: left;
		margin-top: 25px;
		border-top: 1px solid #ddd;
	
	
		a {
			font-weight: bold;
			text-decoration: none;
			display: block;
			border-bottom: 1px solid #ddd;
			padding: 10px 0px;
			font-size: 2.0em;
			line-height: 1em;
		
			&.active {
				background-color: #fafafa;
				color: #000;
			}
		}
	}
}

@media all and (max-width: 799px) {

	aside {
		width: 600px;
		margin: 0px auto;
		margin-top: 20px;
		background-color: #fafafa;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
	
		a {
			margin-right: 10px;
			font-weight: bold;
			text-decoration: none;
			display: inline;
			padding: 3px 0px;
			font-size: 1.0em;
			line-height: 1em;
		
			&.active {
				color: #000;
			}
		}
	}
}

body.posts, body.pages {
	section {
		width: 600px;
		padding: 10px;
		margin: 0 auto;
		
		header {
			background-color: inherit;
			font-weight: bold;
			margin-bottom: 20px;
			font-size: 40px;
			line-height: 1.47em;
			border-bottom: 0px;
			padding: 0px;
		}
		
		.controls {
			background-color: #fafafa;
			border-bottom: 1px solid #ddd;
			border-top: 1px solid #ddd;
			padding: 5px;
			margin-bottom: 20px;
			text-align: right;
			
			.button.left {
				float: left;
			}
		}
		
		.pagination {
			background-color: #fafafa;
			border-bottom: 1px solid #ddd;
			border-top: 1px solid #ddd;
			padding: 5px;
			text-align: center;
			
			.prev_page {
				float: left;
			}
			
			.next_page {
				float: right;
			}
		}
		
		#error_explanation {
			margin-bottom: 10px;
			
			h2 {
				font-weight: bold;
			}
			
			ul {
				color: #a00;
				list-style: disc inside;
			}
		}
		
		form#new_post, form.edit_post, form#new_page, form.edit_page {
			
			input[type=text] {
				color: #222;
				background-color: #fafafa;
				padding: 5px 5px;
				width: 590px;
				font-size: 1.2em;
				border: 1px solid #aaa;
			}
			
			textarea {
				color: #222;
				background-color: #fafafa;
				padding: 5px 5px;
				width: 590px;
				height: 300px;
				font-family: Courier, sans-serif;
				font-size: 0.8em;
				border: 1px solid #aaa;
			}
			
			.field_with_errors input, .field_with_errors textarea {
				border: 1px solid #a00;
			}
		}
		
		article {
			padding: 0px 0px 20px 0px;
			margin: 0px 0px 20px 0px;
			border-bottom: 1px solid #aaa;
			
			&.unpublished {
				background-color: #f2f2f2;
				
				div, header, time {
					padding: 0px 5px;
				}
			}
			
			.warning {
				background-color: #333;
				color: #fff;
				display: block;
				padding: 5px;
				
				.button {
					float: right;
				}
			}
			
			header {
				font-size: 30px;
				margin-top: 10px;
				margin-bottom: 0px;
			}
			
			time {
				margin-bottom: 20px;
				font-size: 0.8em;
				display: block;
			}
			
			div {
				margin-bottom: 20px;
				
				p {margin-bottom: 20px;}
				
				img {
					margin: 0px auto;
					display: block;
				}
				
				.highlight {
					background-color: #f5f5f5;
					padding: 10px;
					border: 1px solid #d2d2d2;
				}
			}
			
		}
	}
}